{% load i18n static %}
<div class="geoaddress-autocomplete-wrapper"
    data-autocomplete-url="{{ autocomplete_url }}"
    data-redirect-url="{{ redirect_url }}"
    data-from-url-name="{{ request }}">
    <div class="geoaddress-autocomplete-field geoaddress-autocomplete-hidden">
        <input type="search" id="{{ name }}_geoaddress_autocomplete" name="{{ name }}_geoaddress_autocomplete" value="{{ search_value }}" />

        <div class="geoaddress-autocomplete-icons">
            <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="Edit" class="geoaddress-autocomplete-edit-icon" />
            <a href="#" class="geoaddress-autocomplete-view-link geoaddress-autocomplete-hidden">
                <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="View" 
                class="geoaddress-autocomplete-view-icon" />
            </a>
        </div>
    </div>

    <div class="geoaddress-autocomplete-results geoaddress-autocomplete-hidden">
        <span class="geoaddress-autocomplete-loading geoaddress-autocomplete-hidden">{% trans "Searching..." %}</span>
        <div class="geoaddress-autocomplete-list geoaddress-autocomplete-hidden"></div>
    </div>

    <div class="geoaddress-data geoaddress-autocomplete-hidden">
        <div class="geoaddress-data-fieldset">
            {% for k, v in geoaddress_data.items %}
            <div class="geoaddress-data-field">
                <label for="{{ k }}">{{ v.label }}</label>
                <input type="text" name="{{ k }}_geoaddress_autocomplete" id="{{ k }}_geoaddress_autocomplete" value="{{ v.value }}" />
            </div>
            {% endfor %}
        </div>
    </div>

    <textarea class="geoaddress-autocomplete-hidden" name="{{ name }}" id="{{ name }}">{{ value }}</textarea>

</div>